*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: #f8f9fa;
}
.logo{
    max-height: 50px;
}


nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: #1a7f37;
    position: relative;
    padding: 5px 0;
}
nav ul li a:hover{
    color: #1a7f37;
}
nav ul li a:after{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: #1a7f3766;
    transition: .3s;
    bottom: 0;
}
nav ul li a:hover:after{
    width: 100%;
}

body {
    background-color: white;
    font-family: 'Poppins', sans-serif;
}
.card {
    border: solid 2px #1a7f37;
    border-radius: 10px;
    padding: 10px;
    
    
}
.hovering {
    transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
}

.hovering:hover {
    background-color: #1a7f37;
    color: white;
}

.text-decoration-none{
    color:#1a7f37;
}

h3 {
    color: #1f1f25;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 20px;
    background: linear-gradient(120deg, #1c99fe 20.69%, #7644ff 50.19%,#fd4766 79.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 8%;
}
